{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="user-limiter">
        <h1>Liste des utilisateurs</h1>

        <table class="table text-center">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Avatar</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.avatar }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|format_datetime(pattern='dd-MM-YYYY') : '' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn-sm btn-dark">voir</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn-sm btn-secondary">éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}