{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-lg-between">
        <h1 class="justify-content-start">Utilisateur</h1>
            <div class="justify-content-end">
        {{ include('user/_delete_form.html.twig') }}</div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Rôle(s)</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Date de création</th>
                <td>{{ user.createdAt ? user.createdAt|format_datetime(pattern='dd-MM-YYYY') : '' }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn-sm btn-success">Editer</a>
        </div>
    </div>

    <a href="{{ path('user_index') }}" class="btn-sm btn-dark"><i class="fas fa-angle-double-left"></i> retour</a>

{% endblock %}